# 硬件部分
sch/
bom/
gerber/
*-backups/
fp-info-cache

!*.kicad_sch
!*.kicad_pcb
!*.kicad_pro
!*.kicad_prl

# 下位机部分
controller/build/
controller/build_exec/
controller/.vscode/
controller/Libraries/
controller/Debug/
controller/pyocd.yaml

# 上位机部分
hmi/build
hmi/.vscode/
hmi/Debug/

# 文档部分
datasheets/
